.vscode/
__pycache__/
*.pyc
.DS_Store
db.sqlite3
media/
staticfiles/
.env
.env.*
.idea/
*.log
*.sqlite3
node_modules/
coverage/
htmlcov/
*.egg-info/
dist/
build/
venv/
.env
.env.*
*.bak
*.swp
*.swo
*.tmp
*.log
*.pot
*.mo
*.sqlite3
.ruff_cache/