@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
